.container{
    border:3px solid black;
}
.content{
    display:flex;
    justify-content: space-between;
}
.buttons{
    display:flex;
    flex-direction: column;
}
.btn {
    margin:5px;
}
.result{
    min-width: 100%;
    min-height: 50px;
    margin:5px;
    border: 3px solid black;
}
.spans{
    display:flex;
    flex-direction: column;
    min-height: 220px;
    min-width: 82px;
}
.times{
    min-width: 72px;
    min-height: 34px;
}